<form action="/login/add" method="POST">
  user_name: <input type="text" name="user_name" value="user_name}}">
  email: <input type="text" name="email" value="email}}">
  password: <input type="number" name="password" value="password}}">
</form>