<h1>Add</h1>
<form action="/categories/add" method="POST">
	categories_name: <input type="text" name="cateegories_name" value="{{categories_name}}">


   <!--<select name ="category_id">-->
	   <!--<option value = "{{category_id}}">{{category_name}}-->
	<!--</select>-->
	<input type="submit">
</form>