<h1>Add</h1>
<form action="/categories/addCategories" method="POST">
	category_name: <input type="text" name="category_name" value="{{category_name}}">


   <!--<select name ="category_id">-->
	   <!--<option value = "{{category_id}}">{{category_name}}-->
	<!--</select>-->
	<input type="submit">
</form>