<form class ="navbar-form navbar-left" role ="search" action ="/categories/search" method="post">
       <div class = "form-group">
      <input type="text" class="form-control" placeholder="Search" id="search" name="searchVal">
  <input type="submit">
</div>
</form>

<!-- {{#no_products}}
<p>No</p>
{{/no_products}} -->


<div class="container">
<table class="col-xs-12">
		<tr>
      <thead>
        <th>Category Name</th>
        <th>Edit/delete</th>

      </thead>
      </tr>
	<tbody>
	{{#categories}}
	<tr>
	<td>{{category_name}}</td>

	   <td>
	       <a href="/categories/edit/{{category_id}}">Edit</a>
           <a href="/categories/delete/{{category_id}}">Delete</a>
     </td>
		  </tr>
		  {{/categories}}
		  </tbody>
</table>
</div>
<a href="/categories">Show All Categories</a>
