<h1>ProfitPerCategory<h1>
<table>
	<thead>
	<tr>
	<th>Category Names</th>
	<th>Profit Per Category</th>

	</tr>
	</thead>

{{#CategoryProfit}}
<tr>
	<td>{{category_name}}</td>
	<td>R{{Profits}}<td>
</tr>
{{/CategoryProfit}}
</table>