<doctype html>
	<html>
	<head>
		<style>
		th, td {
	    padding: 15px;
	    text-align: left;
	}
		</style>
	</head>

  <form class ="navbar-form navbar-left" role ="search" action ="/categories/search" method="post">
       <div class = "form-group">
      <input type="text" class="form-control" placeholder="Search" id="search" name="searchVal">
</div>
</form>

<h1>categories</h1>

<div class="container" >
<table class="table table-bordered" id="categories">
		<tr>
      <thead>
        <th>Category Name</th>
        <th>Edit/delete</th>

      </thead>
      </tr>
	<tbody>
	{{#categories}}
	<tr>
	<td>{{category_name}}</td>

	   <td>
	       <a href="/categories/edit/{{category_id}}"><span class="glyphicon glyphicon-pencil"></span></a>
           <a href="/categories/delete/{{category_id}}"><span class="glyphicon glyphicon-trash"></span></a>
     </td>
		  </tr>
		  {{/categories}}
		  </tbody>
</table>
</div>
<!-- <a href="/categories"><button>Show All Categories</button></a> -->
