<!--<h1>Nelisa's Spazza-app</h1>
	<body>
		<li><a href="product">products</a></li>
		<li><a href="/product/soldItem">products Sold</a></li>
		<li><a href="/product/mostPopularItems">Popular</a></li>
		<li><a href="/product/productsSold">category</a></li>
		<li><a href="/product/mostCategoryProduct">Most Category</a></li>
		<li><a href="/product/leastPopularProduct">leastPopular Product</a></li>
		<li><a href="/product/leastPopularCategory">leastPopular Category<a></li>
	</body>-->
{{home}}
{{body}}
	