<h1>Example App: Home</h1>
	<li><a href="product">products</a></li>
	<li><a href="/product/soldItem">products Sold</a></li>
	<li><a href="/product/mostPopularItems">Popular</a></li>
	<li><a href="/product/productsSold">category</a></li>
	<li><a href="/product/mostCategoryProduct">Most Category</a></li>
	<li><a href="/product/leastPopularProduct">leastPopular Product</a></li>
	<li><a href="/product/leastPopularCategory">leastPopular Category<a></li>

	