 <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">

     <h2>Sign in</h2>
    <div id="login-area">
  <form action="/signUp" method="POST">
   <label>Username:</label>
  <input type="text" name="username"/><br>
  <label>Password:</label>
  <input type="password" name="password"><br>
   <a href="/home" class="button1">Login</a>
   <a href="/signUp" class="button2">Sign Up</a>
 </form>
  </fieldset>
</div>