<!--   <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">
 <h1>SignUp</h1>
 {{#if msg}}
 <div class="message">
     {{msg}}
 </div>
 {{/if}}
 <div id="login-area">
 <form class="" action="/signUp" method="post">
     <input type="text" name="username" value="" placeholder="username"></br>
      <input type="password" name="password" value="" placeholder="password"></br>
       <input type="submit" name="name" value="signUp">
    <a href="/logout">Submit</a> 
 </form>
  </fieldset>
</div> -->
