 <!--  <h1><Welcome to Nelisa></h1>
<body>
  <form class="sign-up" action="/signUp" method="POST">
  <input type="name" name="username" class="form-control" placeholder="Username"><br>
  <input type="password" name="password" class="form-control" placeholder="password"><br>
  <input type="submit" value="Sign Up!">
  </form> -->