<h1>leastPopularProd<h1>
<div class="container">
<table class="col-xs-12">
<thead>

	<th>product Name</th>
	<th>Quantity</th>

</thead>

{{#leastPopularProduct}}
<tr>

	<td>{{product_name}}</td>
	<td>{{qty}}</td>

</tr>
{{/leastPopularProduct}}
</table>
</div>