<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">
 <h1>Welcome to Nelisa</h1>
 {{#if msg}}
 <div class="message">
     {{msg}}
 </div>
 {{/if}}
 <div id="container">
    <div id="login-area">
 <form class="modal-header" action="/login" method="post">
     <input type="text" name="username" value="" placeholder="Enter Username" required></br>
     <input type="password" name="password" value="" placeholder="Enter Password" required></br>
     <input type="submit" name="name" value="login">
     <p class="signup">Don't have an Account ? <a href="signUp">sign up</a></p>
 </form>
 {{messages.message}}

  </fieldset>
</div>
