 <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">
 <h1>login</h1>
 {{#if msg}}
 <div class="message">
     {{msg}}
 </div>
 {{/if}}
 <div id="login-area">
 <form class="" action="/login" method="post">
     <input type="text" name="username" value="{{user_name}}" placeholder="username"></br>
     <input type="submit" name="name" value="login">
     <!--<input type="submit" value="logout">-->
 </form>
  </fieldset>
</div>
