<h1>mostPopularCategory<h1>
<div class="container">
<table class="col-xs-12">
<thead>

	<th>product Name</th>
	<th>Quantity</th>

</thead>

{{#mostCategory}}
<tr>

	<td>{{category_name}}</td>
	<td>{{qty}}</td>

</tr>
{{/mostCategory}}
</table>
</div>