<!DOCTYPE html>
<html>
<head>
  <style>
  th, td {
    padding: 15px;
    text-align: left;
}
  </style>
</head>
<h1>ProductLists</h1></br>

<form class ="navbar-form navbar-left" role ="search" action ="/products/search" method="post">
       <div class = "form-group">
      <input type="text" class="form-control" placeholder="Search" id ="search" name="searchVal"></input>
</div>
</form>

<div class ="container" >
  <table class ="table table-bordered" id="products">
    <tr>
      <thead>
        <th>Id</th>
        <th>Product Name</th>
        <th>Edit/delete</th>

      </thead>
        </tr>
<tbody>
  {{#products}}
    <tr>
          <td>{{product_id}}</td>
    			<td>{{product_name}}</td>
    <td>
      <a href="/products/edit/{{id}}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a href="/products/delete/{{id}}"><span class="glyphicon glyphicon-trash"></span></a>
  </td>
    </tr>
  {{/products}}
</tbody>
  </table>
  </div>
  <!-- <a href="/products">Show All Products</a> -->
</html>
