<doctype html>
	<html>
	<head>
		<style>
		th, td {
	    padding: 15px;
	    text-align: left;
	}
		</style>
	</head>
<h1>EarningsPerProduct<h1>
<table>
	<thead>
	<tr>
	<th>Product Names</th>
	<th>Earnings Per Product</th>

	</tr>
	</thead>

{{#ProductEarnings}}
<tr>
	<td>{{product_name}}</td>
	<td>R{{Earnings}}<td>
</tr>
{{/ProductEarnings}}
</table>
