<h3>products Sold</h3>
<div class="container">
<table class="table table-bordered">
<thead>
	<th>Product-List's</th>
	<th>Quantity's</th>
</thead>
{{#each product}}
<tr>
	<td>{{@key}}</td>
	<td>{{this}}</td>
</tr>
{{/each}}
</table>
</div>
