<div class="container">
<table class="table table-bordered" id="categories">
		<tr>
      <thead>
        <th>Category Name</th>
        <th>Edit/delete</th>

      </thead>
      </tr>
	<tbody>
	{{#categories}}
	<tr>
	<td>{{category_name}}</td>

	   <td>
			 <a href="/categories/edit/{{category_id}}"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="/categories/delete/{{category_id}}"><span class="glyphicon glyphicon-trash"></span></a>
	 </td>
     </td>
		  </tr>
		  {{/categories}}
		  </tbody>
</table>
</div>
<a href="/categories"><button>Show All Categories</button></a>
