<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
<!-- 
 <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/login.css"> -->

     <h2>Sign in</h2>
    <div id="login-area">
  <form action="/signUp" method="POST">
   <label>Email:</label>
   <label>Username:</label>
  <input type="text" name="username"/><br>
  <label>Password:</label>
  <input type="password" name="password"><br>
   <label>Confirm Password:</label>
  <input type="password" name="password"><br>
   <a href="/login" class="button1">SignUp</a>
 </form>
  </fieldset>
</div>
