 <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">
 <h1>signUp</h1>
 <div id="login-area">
 <form class="" action="/signUp" method="post">
     <input type="text" name="username" value="" placeholder="username" required></br>
      <input type="password" name="password" value="" placeholder="password" required></br>
     <input type="submit" name="name" value="submit">
 </form>
  </fieldset>
</div>