<doctype html>
	<html>
	<head>
		<style>
		th, td {
	    padding: 15px;
	    text-align: left;
	}
		</style>
	</head>
<form class ="navbar-form navbar-left" role ="search" action ="/suppliers/search" method="post">
       <div class = "form-group">
      <input type="text" class="form-control" placeholder="Search" id="search" name="searchVal">
</div>

</form>

<div class="container">
  <table class="table table-bordered" id="suppliers">
    <tr>
      <thead>
        <th><h2>Supplier Name</h2></th>
      </thead>
    </tr>

    <tbody>
      {{#suppliers}}
      <tr>
		<td>{{supplier_name}}</td>

		<td>
  			<a href="/suppliers/editSuppliers/{{id}}"><span class="glyphicon glyphicon-pencil"></span></a>
  			<a href="/suppliers/delete/{{id}}"><span class="glyphicon glyphicon-trash"></span></a>
		</td>

	</tr>
{{/suppliers}}
</tbody>
</table>
</div>
<!-- <a href="/suppliers">Show All suppliers</a> -->
