h1 {
	text-align: center;
	color: 5px solid black;
}
h3 {
	text-align: center;
	color: 5px solid black;
	padding: 3px;

}

body {
	font-size: 23px;
	background-color: #EC0974;
}
li {
   text-decoration: none;
   border-radius: 10px;
   list-style: none;
}
